In [1]:
#from ydata_profiling import ProfileReport
##prof.to_file(output_file='output.html')

In [2]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('dataset/train.csv')

In [4]:
df.head(15)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"

In [5]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [6]:
 df.drop(columns = ['body' , 'boat' , 'cabin','name','ticket'],axis = 1 ,inplace = True)

In [7]:
df.head()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,home.dest
0,1,1,female,29.00,0,0,211.3375,S,"St Louis, MO"
1,1,1,male,0.92,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"

In [8]:
df.isnull().sum()

pclass         0
survived       0
sex            0
age          263
sibsp          0
parch          0
fare           1
embarked       2
home.dest    564
dtype: int64

In [9]:
x_train , x_test , y_train , y_test = train_test_split(df.drop(['survived'],axis = 1) , df['survived'] , test_size = 0.2 , random_state= 42)

x_train.shape , x_test.shape ,y_train.shape

((1047, 8), (262, 8), (1047,))

In [10]:
x_train.isnull().sum()

pclass         0
sex            0
age          207
sibsp          0
parch          0
fare           1
embarked       1
home.dest    453
dtype: int64

## Simple imputer for filling all the missing values

In [11]:

si_age = SimpleImputer()
si_home = SimpleImputer(strategy= 'most_frequent')

x_train_age_fare = si_age.fit_transform(x_train[['age','fare']]) 
x_train_emb_home = si_home.fit_transform(x_train[['embarked' , 'home.dest']])

x_test_age_fare = si_age.transform(x_test[['age','fare']])
x_test_emb_home = si_home.transform(x_test[['embarked' , 'home.dest']])

x_train_age_fare , x_train_emb_home

(array([[17.    ,  7.8958],
        [36.    , 10.5   ],
        [18.    , 79.65  ],
        ...,
        [28.5   , 16.1   ],
        [26.    ,  7.925 ],
        [28.    ,  7.8958]]),
 array([['S', 'New York, NY'],
        ['S', 'Brighton, Sussex'],
        ['S', 'New York, NY'],
        ...,
        ['S', 'New York, NY'],
        ['S', 'New York, NY'],
        ['S', 'New York, NY']], dtype=object))

## One hot encoding for the conversion of nominal data into numerical

In [12]:
df

,pclass,survived,sex,age,sibsp,parch,fare,embarked,home.dest
0,1,1,female,29.00,0,0,211.3375,S,"St Louis, MO"
1,1,1,male,0.92,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.00,1,2,151.5500,S,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...
1304,3,0,female,14.50,1,0,14.4542,C,NaN
1305,3,0,female,NaN,1,0,14.4542,C,NaN
1306,3,0,male,26.50,0,0,7.2250,C,NaN
1307,3,0,male,27.00,0,0,7.2250,C,NaN
1308,3,0,male,29.00,0,0,7.8750,S,NaN

In [13]:
df.isnull().sum()

pclass         0
survived       0
sex            0
age          263
sibsp          0
parch          0
fare           1
embarked       2
home.dest    564
dtype: int64

In [14]:
df['home.dest'].value_counts()

home.dest
New York, NY                                    64
London                                          14
Montreal, PQ                                    10
Paris, France                                    9
Cornwall / Akron, OH                             9
                                                ..
Chelsea, London                                  1
Harrow-on-the-Hill, Middlesex                    1
Copenhagen, Denmark                              1
Guernsey / Montclair, NJ and/or Toledo, Ohio     1
Antwerp, Belgium / Stanton, OH                   1
Name: count, Length: 369, dtype: int64

**so we will not use x_Train dataframe for 'home.dest' and 'embarked'  as it contain missing values we will use the imputed ones**

In [15]:
ohe_home_emb = OneHotEncoder(sparse_output = False  , handle_unknown = 'ignore' )

In [16]:
#these is just for the  home.dest and embarked we have to create another object for sex column 
train_simple = ohe_home_emb.fit_transform( x_train_emb_home)
test_simple = ohe_home_emb.transform(x_test_emb_home)
test_simple.shape , train_simple.shape

((262, 320), (1047, 320))

In [17]:
ohe_sex = OneHotEncoder(sparse_output= False , handle_unknown = 'ignore')

In [18]:
x_train.head()

     pclass     sex   age  sibsp  parch      fare embarked         home.dest
772       3    male  17.0      0      0    7.8958        S               NaN
543       2    male  36.0      0      0   10.5000        S  Brighton, Sussex
289       1  female  18.0      0      2   79.6500        S      New York, NY
10        1    male  47.0      1      0  227.5250        C      New York, NY
147       1    male   NaN      0      0   42.4000        S               NaN

In [19]:
train_sex = ohe_sex.fit_transform(x_train[['sex']])
test_sex = ohe_sex.transform(x_test[['sex']])

train_sex.shape

(1047, 2)

In [20]:
x_semi_train = x_train.drop(['sex' , 'embarked' ,'home.dest'] ,axis = 1) 
x_semi_test = x_test.drop(['sex' , 'embarked' , 'home.dest'] , axis = 1)

x_semi_train.shape

(1047, 5)

In [21]:
x_final_train_transformed = np.concatenate((x_semi_train,train_sex,train_simple),axis = 1) 
x_final_test_transformed = np.concatenate((x_semi_test,test_sex,test_simple) ,axis = 1 )

In [22]:
x_final_train_transformed.shape , x_final_test_transformed.shape

((1047, 327), (262, 327))

##  nOW we will use our classifier

In [23]:
clf = DecisionTreeClassifier()
clf.fit(x_final_train_transformed,y_train)

DecisionTreeClassifier()

In [24]:
y_pred = clf.predict(x_final_test_transformed)

In [25]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1],
      dtype=int64)

In [27]:
from sklearn.metrics import accuracy_score

In [30]:
acc = accuracy_score(y_test, y_pred)
print(acc)

0.7633587786259542